# =========================
# Build directories
# =========================
bin/
obj/
tmp/

# =========================
# Executáveis
# =========================
generator
engine
*.out

# =========================
# FIFOs
# =========================
fifo_*
